@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  color: #D7E0FF;
}

html body {
  min-height: 100vh;
  width: 100%;
  background: #1E2140;
  border: 5px dashed hotpink;
}

input,
button {
  color: black;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 5px solid yellow;
  height: 100%;
}

.container-inputs {
  border: 2px dotted darkorchid;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.container-inputs .row > label {
  display: block;
}

.container-inputs .row > input {
  display: block;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
.footer a {
  transition: all 0.3s ease;
}
.footer a i {
  font-size: 30px;
  padding: 20px 30px 30px 0;
}
.footer a:hover {
  opacity: 0.2;
}